* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: rgb(235, 234, 236);
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.container {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background: rgb(121, 3, 121);
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
}

.completed {
  text-decoration:line-through;
  opacity: 0.6;
}

.delete-btn {
  background: rgb(90, 5, 151);
  padding: 5px 10px;
  border-radius: 5px;
}
